.header-background {
    background: #3f51b5;
    overflow: hidden;
}

.header-section {
    text-align: center;
    padding-top: 60px;
}

.header-section h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
}

.header-section h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 60px;
}

.header-headline {
    color: white;
}